/*.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

 /*Css impleted with yoga */

.stripe .stackable {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 1em 0em 1em 0;
  flex-wrap: wrap;
}

.stripe .stackable .row .help_company {
  width: 50% !important;
  padding: 0em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stripe .stackable .row .company_imageView {
  padding: 0em 1em 0em 1em;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.stripe .stackable .row .company_image {
  /*float: right;*/
}

.stripe .stackable .row .checkButton {
  text-align: center;
  width: 100% !important;
}

.pointing_sign_menu {
  margin-left: auto !important;
}

  .pointing_menu {
    display: flex;
  }

  @media (min-width: 767px){

    .stripe .stackable .row .help_company {
      width: 50% !important;
    }
    .stripe .stackable .row .company_imageView {
      width: 37.5% !important;
      margin-left: auto;
    }
    .stripe .stackable .row .company_image {
      float: right;
    }
  }
  @media (min-width: 500px) and (max-width: 767px){
    .stripe .stackable .row .company_imageView {
      width: 100% !important;
      margin-left: auto;
    }
    .stripe .stackable .row .company_image {
      float: right;
    }
    .stripe .stackable .row .help_company {
      width: 100% !important;
    }
  }
  @media (min-width: 320px) and (max-width: 500px){
    .stripe .stackable .row .help_company {
      width: 100% !important;
    }
  }

  @media (max-width: 700px){
    .pointing_menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
  }

  @media (min-width: 700px){
    .item {

    }
  }

  /*@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }*/
